body{background-color:#4F4F4F;}
p{color:#CFCFCF}
h1{color:#CFCFCF}
h2{color:#CFCFCF}
h3{color:#CFCFCF}
h4{color:#CFCFCF}
h5{color:#CFCFCF}
h5{color:#CFCFCF}
b{color:#CFCFCF}
a{color:chocolate}
::selection{color:coral}
